apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: octopub-frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
        component: web
    spec:
      containers:
        - name: web
          image:  #{Octopus.Action.Package[octopub-frontend].PackageId}:#{Octopus.Action.Package[octopub-frontend].PackageVersion}
          ports:
            - containerPort: 8080
              name: http-port
          env:
            - name: UDL_SKIPEMPTY_SETVALUE_9
              value: "[/usr/share/nginx/html/config.json][mockBackend]true"
  strategy:
    canary:
      steps:
      - setWeight: 30
      - pause: {}
      - setWeight: 60
      - pause: {}
      - setWeight: 100